<form [formGroup]="transactionHistoryForm">
  <div
    mat-dialog-content
    fxLayout="column"
    fxLayout.xs="column"
    fxLayoutGap="0.2%"
    fxLayoutAlign="start"
  >
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Name of the Person</mat-label>
      <input
        type="text"
        placeholder="Pick Name"
        aria-label="Name"
        matInput
        #focusableName
        (keyup.enter)="focusableReason.focus()"
        formControlName="name"
        [matAutocomplete]="auto"
        cdkFocusInitial
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of nameOptions | async"
          [value]="option.name"
        >
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Reason</mat-label>
      <input
        matInput
        #focusableReason
        (keyup.enter)="focusableCost.focus()"
        formControlName="reason"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Transaction Cost</mat-label>
      <input
        #focusableCost
        (keyup.enter)="focusableDate.focus()"
        matInput
        type="number"
        formControlName="cost"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        #focusableDate
        (keyup.enter)="focusableStatus.focus()"
        [matDatepicker]="picker"
        formControlName="date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      formControlName="status"
      #focusableStatus
    >
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let status of transactionStatus"
        [value]="status"
        (keyup.enter)="focusableAdd.focus()"
      >
        {{ status }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div>&nbsp;</div>
  <div mat-dialog-actions>
    <button
      mat-flat-button
      (click)="updateEntry('update')"
      #focusableAdd
      (keyup.enter)="focusableName.focus()"
      [disabled]="!transactionHistoryForm.valid"
    >
      Save
    </button>
    <button
      *ngIf="data?._id"
      mat-flat-button
      color="warn"
      (click)="updateEntry('delete')"
    >
      Delete
    </button>
  </div>
</form>
